{% verbatim %}
<div class="page page-dashboard">

	<div class="row">
		<div class="col-md-12">

			<div class="panel panel-profile">
				<div class="panel-heading text-center bg-derecho">
					<h2 i18n="id00050_app:derecho">Derecho</h2>
					<h1><i class="fa fa-info"></i></h1>
				</div>
				<div class="panel-body">
					<h2><span i18n="id00373_app:derecho:dashboard:title" parameters-i18n="{'nombre' : main.name}"></span></h2>
					<h3 i18n="id00374_app:derecho:dashboard:subtitle" parameters-i18n="{'empresa' : main.brand}"></h3>
					<span i18n="id00375_app:derecho:dashboard:body"></span>
				</div>
			</div>
		</div>
	</div>
</div>
{% endverbatim %}