{% verbatim %}
<div class="page-signin">

    <div class="signin-body">
        <div class="container">
            <div class="form-container">
                
                <div class="row">
                    <div class="col-xs-12">
                        <h2 data-i18n="id00070_home:footer:requirements">Requisitos</h2>
                    </div>
                </div>
                
                <section class="row">
                    <div class="col-xs-12" data-i18n="id00398_home:app:requeriments:text">
                            <p>
                                Los requerimiento mínimos recomendados para esta aplicación, son los siguientes:
                            </p>
                            <p>
                                Internet Explorer 9 o superior
                            </p>
                            <p>
                                Motzilla Firefox 3.6 
                            </p>
                            <p>
                                Google Chrome 10.0.648.204
                            </p>
                            <p>
                                El uso de otros productos o versiones de exploradores anteriores, no garantiza el funcionamiento idóneo de la aplicación.
                            </p>
                            <p>
                                Si utiliza el DNI electrónico, es necesario que tenga bien configurado el lector, disponga del PIN y haya instalado el programa facilitado por el Ministerio del Interior, desde su página del DNI electrónico.
                            </p>
                        </div>
                    </div>
                </section>
            </div>
            <footer class="footer-container container">
                <div class="row">
                        <div class="col-xs-12 text-center">
                                <ul class="menu-horizontal">
                                        <li><a href="#/app/inicio" data-i18n="id00068_home:footer:home">Inicio</a></li>
                                        <li><a href="#/app/contactar" data-i18n="id00069_home:footer:contact">Contactar</a></li>
                                        <li><a href="#/app/requisitos" data-i18n="id00070_home:footer:requirements">Requisitos</a></li>
                                        <li data-i18n="id00419_home:document:rules"></li>
                                </ul>
                                <p data-i18n="id00416_home:footer:title">Plataformas Electrónicas</p>
                        </div>
                </div>
            </footer>
        </div>
    </div>

</div>
{% endverbatim %}