{% verbatim %}
<div class="page-signin">

    <div class="signin-body">
        <div class="container">
            <div class="form-container">
                
                    <section class="row">
                        <div class="col-xs-12">
                            <section class="panel panel-default">

                                <div class="panel-heading">
                                    <h2 i18n="id00414_home:app:pendiente">Estado Pendiente</h2>
                                </div>

                                <div class="panel-body" i18n="id00275_home:app:pendiente:text">

                                </div>


                        </div>

                    </section>  
            </div>
            <footer class="footer-container">
                <div class="row">
                        <div class="col-xs-12 text-center">
                                <ul class="menu-horizontal">
                                        <li><a href="#/app/inicio" data-i18n="id00068_home:footer:home">Inicio</a></li>
                                        <li><a href="#/app/contactar" data-i18n="id00069_home:footer:contact">Contactar</a></li>
                                        <li><a href="#/app/requisitos" data-i18n="id00070_home:footer:requirements">Requisitos</a></li>
                                     <li><a href="https://www.mapfre.es/seguros/privacidad/privacidad.jsp" data-i18n="id00071_home:footer:legal-warn">Aviso legal</a></li>
                                </ul>
                                <p data-i18n="id00416_home:footer:title">Plataformas Electrónicas</p>
                        </div>
                </div>
            </footer>
        </div>
    </div>

</div>
{% endverbatim %}