/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/bin/
/composer.phar
/nbproject/
/.docker/data/
/.docker/mysql/mysql/
/.docker/mysql/performance_schema/
/.docker/mysql/auto.cnf
/.docker/mysql/ib_logfile0
/.docker/mysql/ib_logfile1
/.docker/mysql/ibdata1
/.docker/mysql/lugh.juntadeaccionistas.es-ssl.conf