{% verbatim %}
<div class="page-signin">

    <div class="signin-body">
        <div class="container">
            <div class="form-container">
                
                <div class="row">
                    <div class="col-xs-12">
                        <h2>Aviso Legal</h2>
                    </div>
                </div>
                
                <section class="row">
                    <div class="col-xs-12">
                    Los requerimiento mínimos recomendados para esta aplicación, son los siguientes:<br><br>
                    Internet Explorer 7 o superior<br>
                    Motzilla Firefox 3.6 <br>
                    Google Chrome 10.0.648.204<br><br>

                    El uso de otros productos o versiones de exploradores anteriores, no garantiza el funcionamiento idóneo de la aplicación.<br><br>

    Si utiliza el DNI electrónico, es necesario que tenga bien configurado el lector, disponga del PIN y haya instalado el programa facilitado por el Ministerio del Interior, desde su página del DNI electrónico.
                    </div>
                </section>
            </div>

        </div>
    </div>

</div>
    
    <div class="abertis-footer container-full"> 
        <footer>
            <div class="contact">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-7 col-md-6">
                            <h5>Contacto</h5>

                            <div class="row">
                                <div class="col-sm-6">
                                    <h6>Barcelona</h6>

                                    <p>
                                        Avinguda de Pedralbes, 17<br>
                                        08034 Barcelona<br>
                                        <a href="mailto:abertis@abertis.com">abertis@abertis.com</a><br>
                                        Tel. 932 305 000
                                    </p>

                                    <p>
                                        <a href="https://maps.google.com/maps?q=Avinguda+de+Pedralbes,+17+08034+Barcelona">
                                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>

                                            Cómo llegar
                                        </a>
                                    </p>
                                </div>

                                <div class="col-sm-6">
                                    <h6>Madrid</h6>

                                    <p>
                                        Paseo de la Castellana, 39<br>
                                        28046 Madrid<br>
                                        <a href="mailto:abertis@abertis.com">abertis@abertis.com</a><br>
                                        Tel. 915 951 000
                                    </p>

                                    <p>
                                        <a href="https://maps.google.com/maps?q=Paseo+de+la+Castellana,+39+28046+Madrid">
                                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>

                                            Cómo llegar
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="hidden-sm col-md-1">
                        </div>

                        <div class="col-sm-5">
                           
                        </div>
                    </div>
                </div>
            </div>

            <div class="last">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <nav>
                                <ul>
                                    <li>
                                        <a href="#/app/inicio" data-i18n="id00068_home:footer:home">Inicio</a>
                                    </li>

                                    <li>
                                        <a href="#/app/contactar" data-i18n="id00069_home:footer:contact">Contactar</a>
                                    </li>

                                    <li>
                                        <a href="#/app/requisitos" data-i18n="id00070_home:footer:requirements">Requisitos</a>
                                    </li>

                                    <li data-i18n="id00419_home:document:rules"></li>
                                    
                                    <li data-i18n="id00420_home:document:rules"> </li>

                                </ul>
                            </nav>

                            <span>©2016 Abertis</span>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div><!-- abertis-footer container-full -->

    
{% endverbatim %}