<div class="container">
    {% include 'LughDbConnectionBundle:TemplatePlatform:edittag.html.twig' with {'template_id' : template_id}  %}
    {% include 'LughDbConnectionBundle:TemplatePlatform:tagslist.html.twig' with {'template_id' : template_id}  %}

</div> <!-- /.container -->
