<form id="form_parameters" class="form-horizontal">
    <fieldset>

        <div class="widget widget-table">
            {% include 'LughDbConnectionBundle:TemplatePlatform:colorsTable.html.twig' %}
        </div>
        <div class="widget widget-table">
            {% include 'LughDbConnectionBundle:TemplatePlatform:logoTable.html.twig' %}
        </div>
    </fieldset>
</form>
<div class="widget widget-table">

    <div class="widget-header">	      				
        <h3 style="text-rendering: auto;">
            <i class="icon-pencil"></i>
            Guardar Templates	      					
        </h3>	
    </div> <!-- /widget-header -->
    
    <div class="widget-content">

        <table  class="table table-striped table-bordered responsive">
            <thead>
                <tr>
                    <th>Actions</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <th>
                        <button type="button" class="btn btn-primary btn-large" onclick="saveStyle('{{ path('_templatesplatform_save_style') }}',$('#crontab_file tbody :input'),'{{ path( '_templatesplatform_colors_table_content',{'template_id': template_id}) }}','crontab_file'); return false;">Save changes</button>
                        <button class="btn btn-large">Cancel</button>
                    </th>
                </tr>
            </tbody>
        </table>

    </div> <!-- /widget-content -->

</div>


