{% verbatim %}
<div>
    <h1><span class="titulo-menu arbitraryTitle" i18n="id00445_app:av:welcome:title">Bienvenido/da</span></h1>
    <div>
        <div class="panel panel-profile arbitraryContent">
            <div class="panel-heading text-center bg-av">
                <h2 i18n="id00448_app:av:voto">Votación</h2>
                <h1><i class="fa fa-check-square-o"></i></h1>              
            </div>
            <div class="panel-body">
                <h2 data-i18n="{{title_body}}"></h2>
                <h3 data-i18n="{{subtitle_body}}" parameters-i18n="{'empresa' : main.brand}"></h3>
                <span data-i18n="{{body}}"></span>
            </div>
        </div>
    </div>
</div>
{% endverbatim %}