{% verbatim %}
<div>
    <div class="modal-header">
        <h3 i18n="id00507_app:av:modal:previousAction:title">Ya se ha votado anteriormente</h3>
    </div>
    <div class="modal-body" i18n="id00508_app:av:modal:previousAction:body">
        Lorem Ipsum dolor sit amet
    </div>
    <div class="modal-footer">
        <button ng-if="0" class="btn btn-danger"  i18n="id00509_app:av:modal:previousaction:void" ng-click="anular()" ng-disabled="1">Anular</button>
        <button class="btn btn-success" i18n="id00510_app:av:modal:previousaction:continue" ng-click="continuar()">Continuar</button>
        <button class="btn btn-success" i18n="id00511_app:av:modal:previousaction:cancel" ng-click="cancelar()">Cancelar</button>
    </div>
</div>
{%endverbatim%}