<ul class="nav pull-right">

    <li class="dropdown">					
        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
            <i class="icon-th"></i>
            Menú
            <b class="caret"></b>
        </a>	

        <ul class="dropdown-menu">
            <li><a href="#" onclick="doLogout();return false;">Salir</a></li>
        </ul>    				
    </li>


</ul>