{% verbatim %}        
<div id="nav-wrapper">
    <ul id="nav"
        data-ng-controller="NavCtrl"
        data-slim-scroll
        data-collapse-nav
        data-highlight-active>
        <li><a href="#/dashboard"> <i class="fa fa-dashboard"></i><span data-i18n="Dashboard"></span> </a></li>
        
        <li>
            <a href="#/prototypes/inicio"><i class="fa fa-home"></i><span data-i18n="Inicio"></span></a>
        </li>
        
        <li>
            <a href="#/prototypes/registro"><i class="fa fa-pencil-square-o"></i><span data-i18n="Registro"></span></a>
        </li>
        
        <li>
            <a href="#/prototypes/wizard"><i class="fa fa-pencil-square"></i><span data-i18n="Form Wizard"></span></a>
        </li>
        
        <li>
            <a href="#/prototypes/foro/apartado2"><i class="fa fa-user"></i><span data-i18n="Ver actividad personal"></span></a>
            <ul>
                <li><a href="#/prototypes/foro/apartado2/01"><i class="fa fa-caret-right"></i><span data-i18n="Tareas pendientes"></span></a></li>
                <li><a href="#/prototypes/foro/apartado2/02"><i class="fa fa-caret-right"></i><span data-i18n="Propuesta"></span></a></li>
                <li><a href="#/prototypes/foro/apartado2/03"><i class="fa fa-caret-right"></i><span data-i18n="Iniciativa"></span></a></li>
                <li><a href="#/prototypes/foro/apartado2/04"><i class="fa fa-caret-right"></i><span data-i18n="Oferta de representación"></span></a></li>
                <li><a href="#/prototypes/foro/apartado2/05"><i class="fa fa-caret-right"></i><span data-i18n="Petición de representación"></span></a></li>
                <li><a href="#/prototypes/foro/apartado2/06"><i class="fa fa-caret-right"></i><span data-i18n="Todo"></span></a></li>
            </ul>
        </li>

        <li>
            <a href="#/prototypes/foro/apartado3"><i class="fa fa-plus-square"></i><span data-i18n="Crear nueva Propuesta"></span></a>
            <ul>
                <li><a href="#/prototypes/foro/apartado3/01"><i class="fa fa-caret-right"></i><span data-i18n="Propuesta"></span></a></li>
                <li><a href="#/prototypes/foro/apartado3/02"><i class="fa fa-caret-right"></i><span data-i18n="Iniciativa"></span></a></li>
                <li><a href="#/prototypes/foro/apartado3/03"><i class="fa fa-caret-right"></i><span data-i18n="Oferta de representación"></span></a></li>
                <li><a href="#/prototypes/foro/apartado3/04"><i class="fa fa-caret-right"></i><span data-i18n="Petición de representación"></span></a></li>
            </ul>
        </li>

        <li>
            <a href="#/prototypes/foro/datos"><i class="fa fa-gears"></i><span data-i18n="Ver mis datos"></span></a>
        </li>

        <li>
            <a href="#/prototypes/foro/contactar"><i class="fa fa-comment"></i><span data-i18n="Contactar con el moderador"></span></a>
        </li>


    </ul>
</div>
{% endverbatim %}