{% verbatim %}
<div>
    <div class="modal-header">
        <h3 i18n="id00479_app:vote:modal:avcheckpetition:title">Peticiones existentes en la asistencia virtuals</h3>
    </div>
    <div class="modal-body" i18n="id00480_app:vote:modal:avcheckpetition:body">
        Lorem Ipsum dolor sit amet
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" i18n="id00481_app:voto:modal:avcheckpetition:continue" ng-click="continuar()">Continuar</button>
        <button class="btn btn-success" i18n="id00482_app:voto:modal:avcheckpetition:cancel" ng-click="cancelar()">Cancelar</button>
    </div>
</div>
{%endverbatim%}