{% verbatim %}
<div>
    <div class="modal-header">
        <h3 i18n="id00263_app:password:reset:title"></h3>
    </div>
    <div class="modal-body" i18n="id00262_app:password:reset:body">
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()" i18n="id00268_app:password:modal:button:confirm">OK</button>
        <button class="btn btn-warning" ng-click="cancel()" i18n="id00269_app:password:modal:button:cancel"></button>
    </div>
</div>
{%endverbatim%}