{% verbatim %}
    <div class="page page-profile" ng-controller="profileCtrl">

        <div class="row" ng-controller="restorePassword">
            <div class="col-md-4 col-md-offset-4">

                <div class="panel panel-default">

                    <div class="panel-heading">
                        <span class="glyphicon glyphicon-th"></span> <strong><span data-i18n="id00264_app:password:reset">Restaurar contraseña</span></strong>
                    </div>

                    <div class="panel-body">
                        <p i18n="id00404_app:reset:password:note">La contraseña debe contener como mínimo un número, una letra, una mayúscula, una minúscula y ser mayor de 3 y menor de 9 caracteres.</p>
                        
                        <span i18n="id00360_app:reset:password:body"></span>


                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <input class="form-control" placeholder="id00486_app:password:current" type="password" ng-model="currentPassword" data-i18n="i18n-placeholder" />
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="id00265_app:password:placeholder" type="password" ng-model="newPassword" data-i18n="i18n-placeholder" />
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="id00266_app:password:repeat:placeholder" type="password" ng-model="repeat" data-i18n="i18n-placeholder" />
                            </div>
                            <div class="form-group" ng-show="false">
                                <input class="form-control" type="text" ng-init="{{username=accionista.user.username}}" ng-model="username" />
                            </div>
                            <div class="form-group">
                                <button class="btn btn-success" ng-click="resetPassword()" data-i18n="id00267_app:password:confirm"></button>
                            </div>
                        </form>


                    </div>
                </div>

            </div>
        </div>


    </div>

{% endverbatim %}