<div class="info text-center">
    <h2>Delegation Confirm</h2>
    <p class="text-small">Si desea aceptar o rechazar la delegación haga click en los botones siguientes</p>
</div>

<div class="form-container">

    <form action="{{ path('_public_confirm_delegation', {'id' : id, 'token': token}) }}" enctype="multipart/form-data" method="POST" class="form-horizontal ng-pristine ng-valid" name="acceptDelegationForm">
        <div class="form-group">
            <input type="submit" value="Aceptar Delegación" class="btn btn-lg btn-block btn-primary" />
        </div>
    </form>
    <form action="{{ path('_public_reject_delegation',  {'id' : id, 'token': token}) }}" enctype="multipart/form-data" method="POST" class="form-horizontal ng-pristine ng-valid" name="rejectDelegationForm">
        <div class="form-group">
            <input type="submit" value="Rechazar Delegación" class="btn btn-lg btn-danger btn-block btn-primary" />
        </div>
    </form>
</div>
