{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
<form class="register">
<p>{{ 'resetting.password_already_requested'|trans }}</p>
<br>
<a href="mailto:soporte@header.net?subject=[Samhain] Problema contraseña">soporte@header.net</a>
</form>
{% endblock fos_user_content %}
