{% verbatim %}               
<div id="nav-wrapper">
    <ul id="nav"
        data-ng-controller="NavCtrl"
        data-slim-scroll
        data-collapse-nav
        data-highlight-active>
        
        <li>
            <a href="#/app/derecho/comunicados"><i class="fa fa-file-text-o"></i><span data-i18n="id00135_app:derecho:communiques">Comunicados</span></a>
        </li>  

        <li>
            <a href="#/app/derecho/solicitudes-publicas"><i class="fa fa-users"></i><span data-i18n="id00154_app:derecho:public-threads">Solicitudes públicas</span></a>
        </li>  

        <li>
            <a href="#/app/derecho/solicitudes-propias"><i class="fa fa-user"></i><span data-i18n="id00153_app:derecho:own-threads">Solicitudes propias</span></a>
        </li>  

        <li>
            <a href="#/app/derecho/crear-solicitud"><i class="fa fa-pencil-square-o"></i><span data-i18n="id00146_app:derecho:new-thread">Crear solicitud</span></a>
        </li>  


    </ul>
</div>
{% endverbatim %}