{% verbatim %}
    <div>
        <div class="modal-header">
            <h3 i18n="id00280_app:foro:adhesion_error:modal:title">Error</h3>
        </div>
        <div class="modal-body" i18n="id00281_app:foro:adhesion_error:modal:body">
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
        </div>
    </div>
{%endverbatim%}