{% verbatim %}
    <div class="page page-dashboard">

        <div class="row">
            <div class="col-md-12">

                <div class="panel panel-profile">
                    <div class="panel-heading text-center bg-foro">
                        <h2 data-i18n="id00048_app:foro">Foro</h2>
                        <h1><i class="fa fa-users"></i></h1>              
                    </div>
                    <div class="panel-body">
                        <h2><span i18n="id00282_app:foro:dashboard:title" parameters-i18n="{'nombre' : main.name}"></span></h2>
                        <h3 i18n="id00283_app:foro:dashboard:subtitle" parameters-i18n="{'empresa' : main.brand}"></h3>
                        <span i18n="id00284_app:foro:dashboard:body"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endverbatim %}