{% verbatim %}
    <div class="page">

        <section class="panel panel-default">
            <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Ver mis datos</strong></div>
            <div class="panel-body">


                <div class="table-responsive table-bordered">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th colspan="2">Datos</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th class="col-sm-4">Nombre</th>
                                <td class="col-sm-8">texto</td>
                            </tr>
                            <tr>
                                <th>Representado por</th>
                                <td>texto</td>
                            </tr>
                            <tr>
                                <th>Número Documento</th>
                                <td>texto</td>
                            </tr>
                            <tr>
                                <th>Teléfono</th>
                                <td>texto</td>
                            </tr>
                            <tr>
                                <th>Número Acciones</th>
                                <td>texto</td>
                            </tr>
                            <tr>
                                <th>Otros titulares</th>
                                <td>texto</td>
                            </tr>
                            <tr>
                                <th>Correo Electrónico</th>
                                <td>texto</td>
                            </tr>
                            <tr>
                                <th>Observaciones</th>
                                <td>texto</td>
                            </tr>
                            <tr>
                                <th>Idioma</th>
                                <td>texto</td>
                            </tr>
                        </tbody>
                    </table>   
                </div>


            </div>
        </section>


    </div>


{% endverbatim %}