{% verbatim %}
    <div class="page">

        <section class="panel panel-default">
            <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Iniciativa</strong></div>
            <div class="panel-body">


                <form class="form-horizontal" role="form">


                    <fieldset>
                        <legend>Ver iniciativa</legend>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Autor</label>
                            <div class="col-sm-5">
                                <p class="form-texto"><a href="">Nombre Apellido Apellido</a> </p>
                            </div>
                        </div>                    

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Título</label>
                            <div class="col-sm-5">
                                <p class="form-texto">Lorem ipsum dolor sit amet</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="correoc" class="col-sm-3 control-label">Cuerpo</label>
                            <div class="col-sm-5">
                                <p class="form-texto">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, quos, saepe a similique totam excepturi enim natus voluptatum rerum eum veritatis aspernatur minus ipsum accusamus voluptate minima quis suscipit officia</p>
                            </div>
                        </div>
                    </fieldset>

                    <fieldset>
                        <legend>Revisión de comentarios</legend>
                        <div class="form-group">
                            <div class="col-sm-12">

                                <div class="table-responsive table-bordered">
                                    <table class="table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Comentario</th>
                                                <th>Fecha Hora</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                                </td>
                                                <td>2014-03-19 12:58:44</td>
                                            </tr>
                                            <tr>
                                                <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                                </td>
                                                <td>2014-03-19 12:58:44</td>
                                            </tr>
                                            <tr>
                                                <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                                </td>
                                                <td>2014-03-19 12:58:44</td>
                                            </tr>
                                            <tr>
                                                <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                                </td>
                                                <td>2014-03-19 12:58:44</td>
                                            </tr>
                                            <tr>
                                                <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                                </td>
                                                <td>2014-03-19 12:58:44</td>
                                            </tr>
                                        </tbody>
                                    </table>  
                                </div>
                            </div>
                        </div>
                    </fieldset>

                    <fieldset>
                        <legend>Comentario para el accionista</legend>
                        <div class="form-group">
                            <label for="comment" class="col-sm-3 control-label">Comentario</label>
                            <div class="col-sm-5">
                                <textarea name="" id="comment" class="form-control" rows="4"></textarea>
                            </div>
                        </div>
                    </fieldset>


                    <fieldset>
                        <legend>Adhesiones</legend>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <table class="responsive table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Nombre accionista</th>
                                            <th>Email</th>
                                            <th>Teléfono</th>
                                            <th>Fecha</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th>Nombre Apellido Apellido</th>
                                            <th>user@user.info</th>
                                            <th>000 000 000</th>
                                            <td>2014-03-19 12:58:44</td>
                                            <th>0</th> 
                                        </tr>
                                        <tr>
                                            <th>Nombre Apellido Apellido</th>
                                            <th>user@user.info</th>
                                            <th>000 000 000</th>
                                            <td>2014-03-19 12:58:44</td>
                                            <th>0</th> 
                                        </tr>
                                        <tr>
                                            <th>Nombre Apellido Apellido</th>
                                            <th>user@user.info</th>
                                            <th>000 000 000</th>
                                            <td>2014-03-19 12:58:44</td>
                                            <th>0</th> 
                                        </tr>
                                    </tbody>
                                </table>  
                            </div>
                        </div>
                    </fieldset>


                    <fieldset>
                        <legend>Acciones</legend>

                        <div class="form-group">
                            <div class="col-sm-9">

                                <ul class="list-unstyled">
                                    <li><label class="ui-radio"><input name="radio1" type="radio" value="option1" ><span>Pendiente de revisar por el administrador</span></label></li>
                                    <li><label class="ui-radio"><input name="radio1" type="radio" value="option2" checked><span>Pendiente de revisar por el accionista (Devolver a accionista)</span></label></li>
                                    <li><label class="ui-radio"><input name="radio1" type="radio" value="option3"><span>Publicar</span></label></li>
                                    <li><label class="ui-radio"><input name="radio1" type="radio" value="option4"><span>Deshabilitar</span></label></li>
                                </ul>                         
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-9">
                                <button type="submit" class="btn btn-success">Guardar</button> <button type="submit" class="btn btn-success">Limpiar datos</button>
                            </div>
                        </div>
                    </fieldset>



                </form> 

            </div>
        </section>


    </div>


{% endverbatim %}