<div class="widget-header">

    <h3>
        <i class="icon-bar-chart"></i>
        Estado Junta: Acciones
    </h3>
    <div class="widget-actions">
        <a class="btn btn-small accordion-toggle" data-toggle="collapse" href="#" onclick="LoadContent('{{ path( '_virtualplatform_edit_parameters_states', {'platform_id' : platform_id}) }}','content');return false;"><i class="icon-pencil"></i>Edit</a>
    </div>
</div> <!-- /.widget-header -->


<div class="widget-content">

    {% render(controller('LughDbConnectionBundle:VirtualPlatform:parametersStatesContent', {'platform_id' : platform_id}))  %}

</div> <!-- /.widget-content -->