<div class="widget-header">
						
    <h3>
            <i class="icon-bar-chart"></i>
            Estado Actual Junta

    </h3>				
</div>

<div class="widget-content">

     {% render(controller('LughDbConnectionBundle:VirtualPlatform:parametersJuntaContent', {'platform_id' : platform_id}))  %}

</div> <!-- /.widget-content -->