{% verbatim %}
<div class="page">
    <style type="text/css"> 

    .polig{ 
    width:800px; 
    height:400px; 
    background:#444444; 
    font-family:arial; 
    font-weight:bold; 
    color:#EEEEEE; 
    } 

    </style> 

    <div class="polig"> CONTENIDO . . . </div>
</div>
{% endverbatim %}