{% verbatim %}

<div class="page-voto">
    <div class="voto-body">
        
        <div id="pgr" class="container pgr-container" prg-voto>
            <div class = "row">
                <div class="col-md-4 col-md-offset-4">
                    <div class="panel mini-box">
                        <progressbar class="progressbar-sm progress-striped active" value="pg()"></progressbar>
                    </div>
                </div>
            </div>
        </div>
        <div class="vertical" data-ui-av-wizard-form>

        </div> 
    </div>
</div>  


{% endverbatim %}