{% verbatim %}
    
    <div class="menu-top page-signin">
        <div class="container">
            <div class="row">

                <div class="col-md-12">
                    <ul class="menu-desktop">
                        <li> <a href="#/app/inicio"><span data-i18n="Inicio">Inicio</span></a> </li>
                        <li> <a href="#/app/contactar"><span data-i18n="Contactar">Contactar</span></a> </li>
                        <li> <a href="#/app/requisitos"><span data-i18n="Requisitos">Requisitos</span></a> </li>
                        <li data-i18n="id00419_home:document:rules"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
    
<div class="page-signin" ng-controller="forgotCtrl">
    
        <div  class="top-menus">
            <div class="container">



                <div class="breadcrumbsimple">
                    <div class="row">
                        <div class="col-md-12">

                            <ul class="lista">
                                <li class="primero"><a href="http://www.caixabank.com/informacionparaaccionistaseinversores_es.html">Información para accionistas e inversores</a></li>
                                <li><a href="http://www.caixabank.com/informacionparaaccionistaseinversores/gobiernocorporativo_es.html">Espacio del Accionista</a></li>
                                <li><a href="http://www.caixabank.com/espaciodelaccionista/juntageneralaccionistas_es.html">Junta General de Accionistas</a></li>
                                <li><a href="https://www.caixabank.com/informacionparaaccionistaseinversores/gobiernocorporativo/juntageneralaccionistas/2014_es.html">2014</a></li>
                                <li class="ultimo"><a href="#">Votación / Delegación electrónica</a></li>
                            </ul>
                        </div>
                    </div>   
                </div>

                <div class="titulo_subcanales">
                    <div class="row">
                        <div class="col-md-12">
                            <h1>
                                <span class="titulo_secundario">Plataformas Electrónicas</span>
                            </h1>
                        </div>
                    </div> 
                </div>

            </div>
        </div>
    

    <!--<div class="signin-header">
        <div class="container text-center">
            <section class="logo">
                <a href="#/">{{main.brand}}</a>
            </section>
        </div>
    </div>-->
    <div class="signin-body">
        <div class="info text-center">
            <h2 i18n="id00207_app:home:forgot:title">Restaurar contraseña</h2>
            <p class="text-small" i18n="id00208_app:home:forgot:description">Enter your email address that you used to register. We'll send you an email with your username and a link to reset your password.</p>
        </div>

        <div class="form-container">

            <form class="form-horizontal" name="forgotPasswordForm">
                <div class="form-group">
                    <input type="email"
                           class="form-control input-lg"
                           placeholder="Email"
                           ng-model="mail">
                </div>
                <div class="form-group">
                    <a class="btn btn-lg btn-block btn-primary" i18n="id00209_app:home:forgot:send" ng-click="submit()">Send</a>
                </div>
            </form>
            
        </div>
    </div>
    
        <div id="footer"> 

            <div class="container">
                <div class="row">

                    <div class="col-xs-12">

                        <div class="footer_links_groups_title">
                            <div class="enlaces">
                                <div class="agrupacion">
                                    <ul class="list-inline">
                                        <li><a href="#/app/inicio" data-i18n="id00068_home:footer:home">Inicio</a></li>
                                        <li><a href="#/app/contactar" data-i18n="id00069_home:footer:contact">Contactar</a></li>
                                        <li><a href="#/app/requisitos" data-i18n="id00070_home:footer:requirements">Requisitos</a></li>
                                        <li data-i18n="id00419_home:document:rules"></li>
                                    </ul>
                                    <p data-i18n="id00416_home:footer:title">Plataformas Electrónicas</p>
                                </div>
                            </div>


                        </div>


                    </div>


                </div>
            </div>

        </div> <!-- /footer -->
    
    
    
</div>

{% endverbatim %}