{% verbatim %}


    <div class="menu-top page-signin">
        <div class="container">
            <div class="row">

                <div class="col-md-12">
                    <ul class="menu-desktop">
                        <li> <a href="#/app/inicio"><span data-i18n="Inicio">Inicio</span></a> </li>
                        <li> <a href="#/app/contactar"><span data-i18n="Contactar">Contactar</span></a> </li>
                        <li> <a href="#/app/requisitos"><span data-i18n="Requisitos">Requisitos</span></a> </li>
                        <li data-i18n="id00419_home:document:rules"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="page-signin" ng-controller="MainEnabled">
        
        <div  class="top-menus">
            <div class="container">



                <div class="breadcrumbsimple">
                    <div class="row">
                        <div class="col-md-12">

                            <ul class="lista">
                                <li class="primero"><a href="http://www.caixabank.com/informacionparaaccionistaseinversores_es.html">Información para accionistas e inversores</a></li>
                                <li><a href="http://www.caixabank.com/informacionparaaccionistaseinversores/gobiernocorporativo_es.html">Espacio del Accionista</a></li>
                                <li><a href="http://www.caixabank.com/espaciodelaccionista/juntageneralaccionistas_es.html">Junta General de Accionistas</a></li>
                                <li><a href="https://www.caixabank.com/informacionparaaccionistaseinversores/gobiernocorporativo/juntageneralaccionistas/2014_es.html">2014</a></li>
                                <li class="ultimo"><a href="#">Votación / Delegación electrónica</a></li>
                            </ul>
                        </div>
                    </div>   
                </div>

                <div class="titulo_subcanales">
                    <div class="row">
                        <div class="col-md-12">
                            <h1>
                                <span class="titulo_secundario">Plataformas Electrónicas</span>
                            </h1>
                        </div>
                    </div> 
                </div>

            </div>
        </div>


        <div class="signin-body">
            <div class="container">
                <div class="row">

                    <div class="col-md-6">
                        <section>
                            <h3 data-i18n="id00382_home:title:title"></h3>
                            <p data-i18n="id00381_home:title:information">La plataforma estará operativa desde el día de la convocatoria hasta el mismo día de su celebración.</p>
                        </section>

                        <section ng-hide="!isAppEnabled()">
                            <section ng-hide="!isCertEnabled()">
                                <form role="form" class="form-horizontal">
                                    <div class="form-group">
                                        <h4> <span data-i18n="id00389_home:get1:certificate">Obtener </span><a href="/home/images/CertificadosSoportados.pdf data-i18n="id00390_home:get2:certificate">certificado valido</a></h4>
                                        <p data-i18n="id00383_home:body:certificate">Si es la primera vez que accede al sistema, será dirigido a un formulario de alta de usuario donde deberá introducir los datos necesarios para poder ejercitar su derecho de participación en  "La plataforma electrónica".</p>
                                    </div>
                                    <div class="form-group" ng-controller="CertificateLoginCtrl">
                                        <script type="text/ng-template" id="myModalContent.html">
                                            <div class="modal-header">
                                            <h3 data-i18n="id00384_home:comprobado:certificate"></h3>
                                            </div>
                                            <div class="modal-body">
                                            <progressbar class="progressbar-sm progress-striped active" value="100"></progressbar>
                                            </div>
                                            <div class="modal-footer">

                                            </div>
                                        </script>
                                        <a href="javascript:;" ng-click="cerlogin()" class="btn btn-primary" data-i18n="id00385_home:button:certificate">Acceso con certificado válido</a>
                                    </div>
                                </form>   
                            </section>

                    </div>

                    <div class="col-md-6">

                        <section ng-hide="!isuserpassEnabled()">
                            <h3 data-i18n="id00386_home:button:userpass">Acceso mediante usuario y contraseña</h3>
                        </section>
                        <section ng-hide="!isuserpassEnabled()">
                            <form ng-submit="submit()" ng-controller="FormSubCtrl" class="form-horizontal" autocomplete="off">
                                <fieldset>
                                    <div class="form-group">
                                        <div class="input-group input-group-lg">
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-user"></span>
                                            </span>
                                            <input type="text"
                                                   class="form-control"
                                                   placeholder="id00003_home:app:inicio:username"
                                                   ng-model="username"
                                                   name = "username"
                                                   data-i18n="i18n-placeholder"
                                                   >
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group input-group-lg">
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-asterisk"></span>
                                            </span>
                                            <input type="password"
                                                   class="form-control"
                                                   ng-model="password"
                                                   class="form-control"
                                                   placeholder="id00002_home:app:inicio:password"
                                                   data-i18n="i18n-placeholder"
                                                   >
                                        </div>
                                    </div>
                                    <!-- RECAPTCHA -->
                                    <div class="form-group g-recaptcha">
                                        <div
                                             vc-recaptcha
                                             key="model.key"
                                             ng-model="reCaptcha"
                                             handle-error="reCaptcha"
                                             lang ="es"
                                             theme ="light"
                                             ></div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <input type="submit" 
                                               id="submit" 
                                               class="btn btn-primary btn-small" 
                                               value="id00001_home:app:inicio:acceder" 
                                               data-i18n="i18n-value"
                                               translate-values ="{'var1' : 'value1', 'var2' : 'value2'}"/>

                                        <span ng-hide="!isuserpassEnabled()">
                                            <a href="#/app/forgot" data-i18n="id00387_home:forgot:userpass">¿Ha olvidado su contraseña?</a>
                                        </span>


                                    </div>
                                </fieldset>
                            </form>
                        </section>


                        <section ng-hide="!isuserpassEnabled()">
                            <form class="form-horizontal">
                                <fieldset>
                                    <div class="form-group">
                                        <a href="#/app/registro" class="btn btn-primary" data-i18n="id00388_home:register:userpass">Obtener usuario y contraseña</a>
                                    </div>
                                </fieldset>
                            </form>
                        </section>

                    </div>



                    </section>


                </div>


            </div>
        </div>



        <div id="footer"> 

            <div class="container">
                <div class="row">

                    <div class="col-xs-12">

                        <div class="footer_links_groups_title">
                            <div class="enlaces">
                                <div class="agrupacion">
                                    <ul class="list-inline">
                                        <li><a href="#/app/inicio" data-i18n="id00068_home:footer:home">Inicio</a></li>
                                        <li><a href="#/app/contactar" data-i18n="id00069_home:footer:contact">Contactar</a></li>
                                        <li><a href="#/app/requisitos" data-i18n="id00070_home:footer:requirements">Requisitos</a></li>
                                        <li data-i18n="id00419_home:document:rules"></li>
                                    </ul>
                                    <p data-i18n="id00416_home:footer:title">Plataformas Electrónicas</p>
                                </div>
                            </div>


                        </div>


                    </div>


                </div>
            </div>

        </div> <!-- /footer -->


    </div>
{% endverbatim %}