{% verbatim %}
    
    <div class="menu-top page-signin">
        <div class="container">
            <div class="row">

                <div class="col-md-12">
                    <ul class="menu-desktop">
                        <li> <a href="#/app/inicio"><span data-i18n="Inicio">Inicio</span></a> </li>
                        <li> <a href="#/app/contactar"><span data-i18n="Contactar">Contactar</span></a> </li>
                        <li> <a href="#/app/requisitos"><span data-i18n="Requisitos">Requisitos</span></a> </li>
                        <li data-i18n="id00419_home:document:rules"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
    
    <div class="page-signin">
        
        <div  class="top-menus">
            <div class="container">



                <div class="breadcrumbsimple">
                    <div class="row">
                        <div class="col-md-12">

                            <ul class="lista">
                                <li class="primero"><a href="http://www.caixabank.com/informacionparaaccionistaseinversores_es.html">Información para accionistas e inversores</a></li>
                                <li><a href="http://www.caixabank.com/informacionparaaccionistaseinversores/gobiernocorporativo_es.html">Espacio del Accionista</a></li>
                                <li><a href="http://www.caixabank.com/espaciodelaccionista/juntageneralaccionistas_es.html">Junta General de Accionistas</a></li>
                                <li><a href="https://www.caixabank.com/informacionparaaccionistaseinversores/gobiernocorporativo/juntageneralaccionistas/2014_es.html">2014</a></li>
                                <li class="ultimo"><a href="#">Votación / Delegación electrónica</a></li>
                            </ul>
                        </div>
                    </div>   
                </div>

                <div class="titulo_subcanales">
                    <div class="row">
                        <div class="col-md-12">
                            <h1>
                                <span class="titulo_secundario">Plataformas Electrónicas</span>
                            </h1>
                        </div>
                    </div> 
                </div>

            </div>
        </div>
        

        <div class="signin-body">
            <div class="container">
                <div class="">

                    <div class="row">
                        <div class="col-xs-12">
                            <h2 data-i18n="id00070_home:footer:requirements">Requisitos</h2>
                        </div>
                    </div>

                    <section class="row">
                        <div class="col-xs-12" data-i18n="id00398_home:app:requeriments:text">
                            <p>
                                Los requerimiento mínimos recomendados para esta aplicación, son los siguientes:
                            </p>
                            <p>
                                Internet Explorer 7 o superior
                            </p>
                            <p>
                                Motzilla Firefox 3.6 
                            </p>
                            <p>
                                Google Chrome 10.0.648.204
                            </p>
                            <p>
                                El uso de otros productos o versiones de exploradores anteriores, no garantiza el funcionamiento idóneo de la aplicación.
                            </p>
                            <p>
                                Si utiliza el DNI electrónico, es necesario que tenga bien configurado el lector, disponga del PIN y haya instalado el programa facilitado por el Ministerio del Interior, desde su página del DNI electrónico.
                            </p>
                        </div>
                    </div>
                    </section>
                </div>

            </div>
        </div>


        <div id="footer"> 

            <div class="container">
                <div class="row">

                    <div class="col-xs-12">

                        <div class="footer_links_groups_title">
                            <div class="enlaces">
                                <div class="agrupacion">
                                    <ul class="list-inline">
                                        <li><a href="#/app/inicio" data-i18n="id00068_home:footer:home">Inicio</a></li>
                                        <li><a href="#/app/contactar" data-i18n="id00069_home:footer:contact">Contactar</a></li>
                                        <li><a href="#/app/requisitos" data-i18n="id00070_home:footer:requirements">Requisitos</a></li>
                                        <li data-i18n="id00419_home:document:rules"></li>
                                    </ul>
                                    <p data-i18n="id00416_home:footer:title">Plataformas Electrónicas</p>
                                </div>
                            </div>


                        </div>


                    </div>


                </div>
            </div>

        </div> <!-- /footer -->






    </div>
{% endverbatim %}