<div class="widget-header">

    <h3>
        <i class="icon-bar-chart"></i>
        Parameters Time

    </h3>
    <div class="widget-actions">
            <a class="btn btn-small accordion-toggle" data-toggle="collapse" href="#" onclick="LoadContent('{{ path( '_configplatform_edit_parameters_time', {'platform_id' : platform_id}) }}','content');return false;"><i class="icon-pencil"></i>Edit</a>
    </div>
</div>

<div class="widget-content">

    {% render(controller('LughDbConnectionBundle:ConfigPlatform:parametersTimeContent', {'platform_id' : platform_id}))  %}

</div> <!-- /.widget-content -->
