<div class="widget-header">

    <h3>
        <i class="icon-bar-chart"></i>
        Parameters File Uploads

    </h3>
</div> <!-- /.widget-header -->


<div class="widget-content">

    {% render(controller('LughDbConnectionBundle:ConfigPlatform:parametersUploadsContent', {'platform_id' : platform_id}))  %}

</div> <!-- /.widget-content -->
