<div class="container">
    {% include 'LughDbConnectionBundle:TranslationsPlatform:edittag.html.twig' with {'platform_id' : platform_id}  %}
    {% include 'LughDbConnectionBundle:TranslationsPlatform:tagslist.html.twig' with {'platform_id' : platform_id}  %}

</div> <!-- /.container -->