<form id="editTag" class="modal hide fade cmxform" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   <fieldset>
       <div class="modal-header">
           <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
           <h3 id="translations-myModalLabel">Edit Tag</h3>
       </div>
       <div class="widget-tabs">
           <ul class="nav nav-tabs" id="modal-head">
               <li class="active"><a href="#es">Castellano</a></li>
               <li><a href="#ca">Català</a></li>
               <li><a href="#en">English</a></li>
               <li><a href="#gl">Galego</a></li>
           </ul>
       </div>
       <div class="modal-body">
           <div class="controls">
               <input id="tag" name="tag" type="text" value=''>
           </div>

           <div class="tab-content">
               <div class="tab-pane active" id="es_es">
                   <div class="tab-content">
                       <p id="tag-text-es_es">
                        <textarea id="form-tag-es_es" name="form-tag-es_es" class="textarea-large">
                            Alta de Usuario - Envío contraseña
                        </textarea>
                       </p>
                   </div>
               </div>

           </div>
       </div>

       <div class="modal-footer"></div>
   </fieldset>
</form>