{% verbatim %}
<div class="page-err">
    <div class="err-container">
        <div class="text-center">
            <div class="err-status">

                <h1 class="fa fa-info-circle"></h1>
            </div>
            <div class="err-message">
                <h2>Plataforma no disponible hasta el día de la Asamblea</h2>
            </div>
            <div class="err-body" data-ng-controller="HeaderCtrl">
                <a href="javascript:;" data-ng-click="doLogout()" class="btn btn-lg btn-goback">
                    <span class="glyphicon glyphicon-home"></span>
                    <span class="space"></span>
                    Go Back to Home Page
                </a>
            </div>
        </div>
    </div>
    <div class="footer text-center">
        Copyright 2020 {{main.brand}}
    </div>
</div>
{% endverbatim %}